<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body
  class="w-full h-full px-8 py-6 bg-[#140b29] text-white selection:bg-[#6652ff] selection:text-white">
  <nav class="w-full">
    <div class="flex gap-2 text-2xl">
      <i class="ri-list-check-3 text-[#6652ff]"></i>
      <h1 class="font-semibold text-xl">TO-DO</h1>
    </div>
  </nav>