<%- include("./partials/headers.ejs") %>

  <div>
    <div>
      <h1>Welcome back!</h1>
      <p>Please log in to access your tasks.</p>
    </div>
    <div>
      <h1></h1>
      <form action="">
        <div class="px-4 py-2 border">
          <input class="bg-transparent outline-none" type="email" name="email" id="" required>
          <i class="ri-mail-line"></i>
        </div>
      </form>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>